/* включаю стили и задаю классы*/
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
:root{
    --font-bold:"Montserrat", sans-serif;
    --font-regular:"Montserrat", sans-serif;
}
/* Header */
.header-container{
    display: flex;
    align-items: center;
    background-color: white;
    max-width: 1326px;
    width: 100%;
    margin: 19px auto;
    gap: 73px;
    box-sizing: border-box;
}
.logo{
    display: block;
    background-image: url("../img/logo.svg") ;
    width: 100%;
    max-width: 77px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

 .header-nav{
    display: flex;
    color: black;
    gap: 48px;
 }
 .nav-link{
    color: black;
    text-decoration: none; 
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: var(--font-regular);
    font-weight: 400;
    width: 100%;
    line-height: 150%;
    

}

/* Email link */

.nav-email {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-family: var(--font-bold);
  font-weight: 700;
  font-size: 12px;
  position: relative;
  z-index: 1; 
  padding-left: 127px;
}

.nav-email::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 50%;
  z-index: -1; 
  pointer-events: none;
}

/*Hero block*/
.hero-section{
    width: 100%;
    max-width: 1326px;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    align-items: center;
    gap: 0;
    position: relative;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 632px;
    margin: 0 auto;
}
.hero-h1{
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: black;
    margin: 0;
    width: 100%;
    max-width: 632px;
    max-height: 112px;
    text-transform: uppercase;
}
.hero-p{
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;
    color: black;
    margin: 0;
    width: 100%;
    max-width: 632px;
    max-height: 112px;
    padding-top: 52px;
}
.hero-descriptions{
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    width: 100%;
    max-width: 297px;
    max-height: 49px;
}
.btn-request{
    width: 100%;
    max-width: 252px;
    height: 64px;
    text-align: center;
    background-color: yellow;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: black;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-request-subs{
    width: 100%;
    max-width: 252px;
    height: 64px;
    text-align: center;
    background-color: yellow;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    color: black;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-request-a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    padding: 20px 0;
}
.rectangle{
    width: 100%;
    max-width: 464px;
    height: 850px;
    background: linear-gradient(to right, #FBF138 0%, #FDF9B6 45%, #FDF9B6 100%);
    margin: 0;
}
.girl{
    width: 100%;
    max-width: 996px;
    height: 930px;
    background-image:url(../img/girl.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 3.5%;
    right: 0;
}
.arrow{
    width: 50px;
    max-width: 52px;
    height: 55px;
    background-image:url(../icon/Arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 95%;
    left: 10%;
}

/* Расписание тренировок grid сетка */

.list-section{
    display: grid;
    /* margin: 0 auto; */
    justify-content: center;
    width: 100%;
    max-width: 1920px;
}
.training{
    display: flex;
    width: 100%;
    max-width: 1326px;
    gap: 200px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.training-h2{
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: black;
    margin: 0;
    width: 100%;
    max-width: 356px;
    padding-top: 158px;
}
.training-descriptions{
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    width: 100%;
    max-width: 185px;
    max-height: 35px;
    padding-top: 90px;
    margin-top: auto;
    margin-bottom: auto;
    
}
.list-grid-training{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1920px;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 60px;
}
.list-training{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 367px;
    height: 100%;
    max-height: 309px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #2B3541;
}
.training-icon{
    width: 100%;
    max-width: 65px;
    height: 100%;
    max-height: 65px;
}
.training-title{
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 12px;
    line-height: 125%;
    color: black;
    margin: 0;
    padding-top: 0;
    padding-bottom: 114px;
    align-self: flex-end;
}
.training-description{
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: black;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    align-self: flex-start;
}
.big-list-training{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 367px;
    height: 100%;
    max-height: 309px;
    background: linear-gradient(#FBF138 0%, #FDF9B6 45%, #FDF9B6 100%);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #2B3541;
}

/* Оформление формы подписки */

.lead-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 348px;
    background-color: #F3F3F3;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}
.lead-title{
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 40px;
    z-index: 1;
    display: flex;
    position: relative;
    margin-top: 0;
    padding-top: 80px;

}
.lead-title::before{
  content: "";
  position: absolute;
  top: 68%;
  right: 97%;
  transform: translateY(-50%);
  width: 53px;
  height: 53px;
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 50%;
  z-index: -1; 
  pointer-events: none;
}
.form-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.subscribe-form{
    display: flex;
    width: 100%;
    max-width: 597px;
    height: 100%;
    max-height: 200px;
    background-color: #F3F3F3;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    gap: 20px;
    border-style: none;
}
.btn-subscribe{
    width: 100%;
    max-width: 225px;
    height: 65px;
    text-align: center;
    background-color: yellow;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    border-style: none;
    color: black;
    margin: 0;
    cursor: pointer;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.btn-subscribe-a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
}
#email{
    width: 100%;
    max-width: 372px;
    height: 65px;
    padding: 0 20px;
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: black;
    box-sizing: border-box;
    border-style: none;
}
.checkbox-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
.checkbox-container {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 20px;
  background-image: url(../icon/check\ box\ empty.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox-container input:checked + .checkmark {
  background-image: url(../icon/check_box.svg);
}

/*О компании*/

.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 700px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    margin: 0;
    padding-top: 158px;
    padding-bottom: 170px;
}
.about-wrapper{
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    max-height: 513px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 77px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.about-textbox{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 483px;
    height: 100%;
    max-height: 200px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    
}
.about-h2{
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    color: black;
    margin: 0;
    width: 100%;
    max-width: 356px;
}
.about-description{
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    width: 100%;
    max-width: 483px;
    max-height: 108px;
    padding-top: 20px;
}
.about-image{
    width: 100%;
    max-width: 513px;
    height: 336px;
    max-height: 336px;
    background-image:url(../img/@2x/trainer@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    display: block;
}
.description-container{
    display: flex;
    width: 100%;
    max-width: 1141px;
    max-height: 97px;
    padding-left: 110px;
}
.description{
    display: flex;
    flex-direction: column;
    padding-right: 67px;
    gap: 10px;
}
.description-title{
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 18px;
    line-height: 125%;
    color: black;
    margin: 0;
}
.description-text{
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: black;
    margin: 0;
    /* padding-top: 10px; */
    width: 100%;
    max-width: 251px;
    max-height: 23px;
}

/* Footer */

.footer{
    padding: 60px 0;
}
.footer-container{
    display: flex;
    align-items: center;
    background-color: white;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    gap: 95px;
    box-sizing: border-box;
    padding-left: 82px;
    /* padding: 0px 82px; */
}

.footer-description{
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1326px;
    width: 100%;
}

.footer-p {
    font-family: var(--font-regular);
    font-weight: 400;
    font-size: 14px;
    line-height: 125%;
    color: black;
    margin: 0;
    padding-top: 10px;
    width: 100%;
    max-width: 431px;
    max-height: 23px;
}